packer_cache/
output-virtualbox-iso/
tmp/
.vagrant/
.terraform/
*.plan
*.swp
*.swo
*.box
*.log

# secret files
*variables.json
secrets.txt
prov_vagrant/env_vars
*.tfstate*

# CIRCLECI local output
process.yml
