[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# for python dev
pylint = "*"
bandit = "*"
black = "*"
# for ansible dev
ansible-lint = "*"
molecule = "*"
# for python aws mfa (sts)
boto3 = "*"
# for ansible local development
ansible-navigator = "*"

[packages]
# for python prompt
bullet = "*"
# for python CI/CD (automation)
dagger-io = "*"
click = "*"
pyyaml = "*"
pydantic = "*"
requests = "*"
# used for logging
loguru = "*"
# used for validating Kali's Key signing
python-gnupg = "*"
# for distutils.version: https://peps.python.org/pep-0632/#migration-advice
packaging = "*"
# for infra prov
ansible-core = "2.14.4"
packet-python = "*"

[requires]
python_version = "3.10"
