version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: bash ./scripts/new-kali.sh
      - run: bash ./ci/packer_build.sh
      - store_artifacts:
          path: /tmp/artifacts
workflows:
  version: 2
  building:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
                - develop
  weekly-build:
    jobs:
      - build
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - master
notify:
  webhooks:
    # A list of hook hashes, containing the url field
    # gitter hook
    - url: https://webhooks.gitter.im/e/328863f5c67fb6135a75
